/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.content{
		padding: 20px;
	}






}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.slide_pictures {
	    width: 100%;
	    /*height: 600px;*/
	}
	.content{
		width: 100%;
		padding-bottom: 80px;
	}
	.main-con{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}







	.image-owl{
		height: 100% !important;
	}
	.right{
		width: 100%;
	}
	.item{
		height: 100%;
	}
	.box {
	    top: -17%;
	    width: 100%;
	}
	.third-text{
		text-align: center;
	}
	.third-image img{
		width: 100%;
	}
	.third-main-text{
		padding-top: 0;
	}
	.third-main-text img{
		width: 70%;
    	top: -55%;
	}
	.solution{
		top: 20%;
	}
	.third-main-text.second{
		padding-top: 0;
	}
	.third-main-text.second img{
		top: -7%;
	}
	.company3{
		right: 2%;
	}
	.fourth-main-text img{
		width: 90%;
	}
	.problems{
		padding-left: 0;
	}
	.section-fourth .man{
		width: 50%;
		right: 0;
	}
	.circle-content.first img{
		-moz-transform: scaleX(-1)scaleY(-1);
     	-o-transform: scaleX(-1)scaleY(-1);
		-webkit-transform: scaleX(-1)scaleY(-1);
        transform: scaleX(-1)scaleY(-1);
        filter: FlipH;
    	-ms-filter: "FlipH";
    	filter: FlipV;
    	-ms-filter: "FlipV";
    	left: -20%;
    	top: 67%;
	}
	.third-main-text.seventh img {
    	width: 68%;
    	top: 17%;
    	top: -5%;
	}
	.third-main-text.seventh {
    	padding-top: 0;

	}
	.third-main-text.second.seventh img {
	    top: -8%;
	    left: 32%;
	}
	.woman {
    	width: 55%;
    	right: 0%;
	}
	.main-text-nine{
		padding-top: 2rem;
	}
	.section.ten .left{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		width: 100%;
		z-index: 0;
	}
	.section.ten .right {
    	width: 100%;
    	position: static;
    	display: -webkit-flex;
    	display: -moz-flex;
    	display: -ms-flex;
    	display: -o-flex;
    	display: flex;
    	z-index: 0;
	}
	.section.ten{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.map{
		width: 100%;
		height: 25rem;
	}
	.section.ten .section-container{
		padding: 0;
		width: 100%;
	    padding-right: 15px;
	    padding-left: 15px;
	    margin-right: auto;
	    margin-left: auto;
	}
	.section.ten .main-text p{
		padding-top: 0;
	}
	.circle-content.fourth img {
	    position: absolute;
	    right: -25.5%;
	    bottom: 20%;
	    transform: none;
    }
    .navbar-nav{
    	background-color: #4040409e;
    }
    .nav-item{
    	padding-left: 1rem;
    	padding-bottom: .5rem;
    	padding-top: .5rem;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.slide_pictures {
	    /*width: 100%;*/
	    height: 300px;
	}
	.pole{
		margin-left: 20px;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.left, .right{
		padding-left: 20px;
	}
	.progress{
		width: 100%;
	}
	.inp, .sec-sel, textarea{
		width: 100%;
	}
	.pole span {
		color: #11264A;
	}
	.pole{
		margin-left: 0;
		width: 100%;
		padding-left: 70px;
    	padding-right: 0;
    	margin-top: 1rem;
	}
	.form{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 1rem;
	}
	.pole:after{
		display: none;
	}
	.pole:before{
		border: 20px solid transparent;
		content: ''; 
	    position: absolute;
	    top: -75%;
	    right: 43%;
	    /*left: -25px;*/
	    z-index: 0;
		border-bottom: 20px solid #11264A;
	}
	button, .send{
		width: 100%;
	}
	.content{
		padding-bottom: 50px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.left, .right{
		padding-left: 20px;
	}
	.progress{
		width: 100%;
	}
	.inp, .sec-sel, textarea{
		width: 100%;
	}
	.pole span {
		color: #11264A;
	}
	.pole{
		margin-left: 0;
		width: 100%;
		padding-left: 70px;
    	padding-right: 0;
    	margin-top: 1rem;
	}
	.form{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 1rem;
	}
	.pole:after{
		display: none;
	}
	.pole:before{
		border: 20px solid transparent;
		content: ''; 
	    position: absolute;
	    top: -75%;
	    right: 43%;
	    /*left: -25px;*/
	    z-index: 0;
		border-bottom: 20px solid #11264A;
	}
	button, .send{
		width: 100%;
	}
	.content{
		padding-bottom: 50px;
	}













}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}